@using System.Threading
@{
    ViewBag.Title = "Home Page";
}

<h2>
    Index
</h2>
User:
@{
    if (!User.Identity.IsAuthenticated)
    {
        <text>Not authenticated</text>
    }
    else
    {
        <text>@User.Identity.Name</text>
        @Html.ActionLink("List of Tests", "Index", "Test")
    }
}
@Html.ActionLink("Registration","Register","Account")
@Html.ActionLink("Login", "Login","Account")





